# Note pour le mainteneur.
# -----------------------
# Ce fichier est destiné à 'http://repl.it'.
# Il est renommé en '.replit' lors de la publication.

language = "bash"
run = "ATK=none python3 main.py"
