<iframe frameborder="0" height="0" src="FaaSDesc.php?text=WW91IHdpbGwgc2VlIGhlcmUgc29tZSB3aWRnZXRzIGluIGFjdGlvbi4gQ2xpY2sgb24gKlNvdXJjZSBjb2RlKiB0byBzZWUgY29ycmVzcG9uZGluZyBIVE1MIGFuZCBQeXRob24gY29kZS4="></iframe>
<div>
  <div id="Retrieving">
    <span>Importing </span>
    <output id="RetrievedWidget">(please wait…)</output>
    <span> widget. </span>
  </div>
  <br />
</div>
<fieldset class="hidden" id="button">
  <legend class="widget">button</legend>
  <fieldset>
    <button xdh:onevent="btSubmit">A button</button>
  </fieldset>
  <hr />
  <details>
    <summary>Source code</summary>
    <fieldset>
      <legend>HTML</legend>
      <pre class="lang-html"></pre>
    </fieldset>
    <fieldset>
      <legend>Python</legend>
      <pre class="lang-python">
CALLBACKS = {
  "btSubmit": lambda dom: dom.alert("Click on button detected!"),
}      </pre>
    </fieldset>
  </details>
</fieldset>
<fieldset class="hidden" id="password">
  <legend class="widget">password</legend>
  <fieldset>
    <input type="password" xdh:onevent="pwSubmit" placeholder="Password" />
    <span>Submitted password: </span>
    <output id="pwOutput">
      <span>Type a password and hit the <span style="font-weight: bold;">Enter</span> key</span>
    </output>
  </fieldset>
  <hr />
  <details>
    <summary>Source code</summary>
    <fieldset>
      <legend>HTML</legend>
      <pre class="lang-html"></pre>
    </fieldset>
    <fieldset>
      <legend>Python</legend>
      <pre class="lang-python">
CALLBACKS = {
  "pwSubmit": lambda dom, id: dom.setValue("pwOutput", dom.getValue(id)),
}      </pre>
    </fieldset>
  </details>
</fieldset>
<fieldset class="hidden" id="checkbox">
  <legend class="widget">checkbox</legend>
  <fieldset>
    <div>
      <p>Specify the type of vehicle you own:</p>
      <label>
        <input type="checkbox" id="cbBicycle" xdh:onevent="cbSelect" />
        <span>Bicycle</span>
      </label>
      <br />
      <label>
        <input type="checkbox" id="cbCar" xdh:onevent="cbSelect" />
        <span>Car</span>
      </label>
      <br />
      <label>
        <input type="checkbox" id="cbPirogue" xdh:onevent="cbSelect" />
        <span>Pirogue</span>
      </label>
    </div>
    <p></p>
    <div>
      <span>Last selected vehicle: </span>
      <output id="cbOutput">
        <span>Click on a checkbox or its label</span>
      </output>
    </div>
    <p></p>
    <div>
      <button xdh:onevent="cbSubmit">Submit</button>
    </div>
  </fieldset>
  <hr />
  <details>
    <summary>Source code</summary>
    <fieldset>
      <legend>HTML</legend>
      <pre class="lang-html"></pre>
    </fieldset>
    <fieldset>
      <legend>Python</legend>
      <pre class="lang-python">
CALLBACKS = {
  "cbSelect": lambda dom, id: dom.setValue("cbOutput", "{} ({})".format(id, dom.getValue(id))),
  "cbSubmit": lambda dom: dom.alert(str(dom.getValues(["cbBicycle", "cbCar","cbPirogue"]))),
}      </pre>
    </fieldset>
  </details>
</fieldset>
<fieldset class="hidden" id="radio">
  <legend class="widget">radio</legend>
  <fieldset>
    <div>How to contact you:</p>
      <span id="rdRadios" xdh:radio="rdContact" xdh:onevent="rdCheck">
        <label>
          <input type="radio" name="rdContact" value="Email" />
          <span>Email</span>
        </label>
        <label>
          <input type="radio" name="rdContact" value="Phone" />
          <span>Phone</span>
        </label>
        <label>
          <input type="radio" name="rdContact" value="Mail" />
          <span>Mail (post)</span>
        </label>
      </span>
      <span>&nbsp;</span>
      <span>
        <button xdh:onevent="rdReset">Reset</button>
      </span>
    </div>
    <p></p>
    <div>
      <span>Selected contact method: </span>
      <select id="rdSelect" xdh:onevent="rdSelect">
        <option selected="" disabled="" value="None">Check above or select below</option>
        <option value="Email">Email</option>
        <option value="Phone">Phone</option>
        <option value="Mail">Mail (post)</option>
      </select>
    </div>
  </fieldset>
  <hr />
  <details>
    <summary>Source code</summary>
    <fieldset>
      <legend>HTML</legend>
      <pre class="lang-html"></pre>
    </fieldset>
    <fieldset>
      <legend>Python</legend>
      <pre class="lang-python">
CALLBACKS = {
  "rdCheck": lambda dom, id: dom.setValue("rdSelect", dom.getValue(id)),
  "rdSelect": lambda dom, id: dom.setValue("rdRadios", dom.getValue(id)),
  "rdReset": lambda dom: dom.setValues({"rdSelect": "None", "rdRadios": ""}),
}      </pre>
    </fieldset>
  </details>
</fieldset>
<fieldset class="hidden" id="datalist">
  <legend class="widget">datalist</legend>
  <fieldset>
    <span>
      <input list="dlFlavors" xdh:onevent="dlSubmit" placeholder="Select a flavor" />
      <datalist id="dlFlavors">
        <option value="Caramel"></option>
        <option value="Chocolate"></option>
        <option value="Vanilla"></option>
        <option value="Mint"></option>
      </datalist>
    </span>
    <span>Selected flavor: </span>
    <output id="dlOutput">
      <span>Select flavor, or type (a new) one and validate</span>
    </output>
  </fieldset>
  <hr />
  <details>
    <summary>Source code</summary>
    <fieldset>
      <legend>HTML</legend>
      <pre class="lang-html"></pre>
    </fieldset>
    <fieldset>
      <legend>Python</legend>
      <pre class="lang-python">
dlFlavors = ["Vanilla", "Chocolate", "Caramel", "Mint"]  


def acDlSubmit(dom, id):
  global dlFlavors

  flavor = dom.getValue(id)
  dom.setValue(id, "")
  if not flavor in dlFlavors:
    dlFlavors.append(flavor)
    dlFlavors.sort()
    dom.inner("dlFlavors", dlShape(dlFlavors))
  dom.setValue("dlOutput", flavor)


CALLBACKS = {
  "dlSubmit": acDlSubmit,
}      </pre>
    </fieldset>
  </details>
</fieldset>
<fieldset class="hidden" id="date">
  <legend class="widget">date</legend>
  <fieldset>
    <input type="date" xdh:onevent="dtSelect" />
    <span>Selected date: </span>
    <output id="dtOutput">
      <span>Click on the date selector</span>
    </output>
  </fieldset>
  <hr />
  <details>
    <summary>Source code</summary>
    <fieldset>
      <legend>HTML</legend>
      <pre class="lang-html"></pre>
    </fieldset>
    <fieldset>
      <legend>Python</legend>
      <pre class="lang-python">
CALLBACKS = {
  "dtSelect": lambda dom, id: dom.setValue("dtOutput", dom.getValue(id)),
}      </pre>
    </fieldset>
</fieldset>
</fieldset>
<fieldset class="hidden" id="color">
  <legend class="widget">color</legend>
  <fieldset>
    <input type="color" id="clColor" xdh:onevent="clSelect" />
    <span>Selected color: </span>
    <output id="clOutput">
      <span>Click on the color selector</span>
    </output>
  </fieldset>
  <hr />
  <details>
    <summary>Source code</summary>
    <fieldset>
      <legend>HTML</legend>
      <pre class="lang-html"></pre>
    </fieldset>
    <fieldset>
      <legend>Python</legend>
      <pre class="lang-python">
CALLBACKS = {
  "clSelect": lambda dom, id: dom.setValue("clOutput", dom.getValue(id)),
}      </pre>
    </fieldset>
  </details>
</fieldset>
<fieldset class="hidden" id="range/meter">
  <legend class="widget">range/meter</legend>
  <fieldset style="display: flex; flex-direction: row; align-items: center; gap: 5px;">
    <label style="display: flex; align-items: center;">
      <span>Volume: </span>
      <input type="range" id="rgRange" xdh:onevent="rgSubmit" min="0" max="15" value="5" />
    </label>
    <input type="number" id="rgNumber" xdh:onevent="rgSubmit" min="0" max="15" value="5" size="2" />
    <meter id="rgMeter" min="0" max="15" low="5" high="10" optimum="3" value="5"></meter>
  </fieldset>
  <hr />
  <details>
    <summary>Source code</summary>
    <fieldset>
      <legend>HTML</legend>
      <pre class="lang-html"></pre>
    </fieldset>
    <fieldset>
      <legend>Python</legend>
      <pre class="lang-python">
def acRgSubmit(dom, id):
  value = dom.getValue(id)

  dom.setValues({
    "rgRange": value,
    "rgNumber": value,
    "rgMeter": value
  })        


CALLBACKS = {
  "rgSubmit": acRgSubmit,
}      </pre>
    </fieldset>
  </details>
</fieldset>
<fieldset class="hidden" id="select">
  <legend class="widget">select</legend>
  <fieldset>
    <select xdh:onevent="slSelect">
      <option selected disabled>-- Select a dinausor --</option>
      <optgroup label="Theropods">
        <option value="tyrannosaurus">Tyrannosaurus</option>
        <option value="velociraptor">Velociraptor</option>
        <option value="deinonychus">Deinonychus</option>
      </optgroup>
      <optgroup label="Sauropods">
        <option value="diplodocus">Diplodocus</option>
        <option value="saltasaurus">Saltasaurus</option>
        <option value="apatosaurus">Apatosaurus</option>
      </optgroup>
      <optgroup id="slOthers" label="Others" />
    </select>
    <span>
      <label for="slOutput">Selected dinausor: </label>
      <output id="slOutput">
        <span>Click on a dinosaur</span>
      </output>
    </span>
    <p></p>
    <div>
      <input id="slInput" xdh:onevent="slAdd" placeholder="Other dinausor to add" />
      <label>
        <input type="checkbox" xdh:onevent="slToggle" />
        <strong>Deactivate</strong>
      </label>
    </div>
    <p></p>
    <div>See the above <a href="#" target="_self" xdh:onevent="slRadio">radio widget</a> to see how to
      programmatically select an item from a list box.</div>
  </fieldset>
  <hr />
  <details>
    <summary>Source code</summary>
    <fieldset>
      <legend>HTML</legend>
      <pre class="lang-html"></pre>
    </fieldset>
    <fieldset>
      <legend>Python</legend>
      <pre class="lang-python">
def slEmbed(other):
  html = atlastk.createHTML()
  html.pushTag("option")
  html.putAttribute("selected", "selected")
  html.putValue(other)
  return html


def acSlAdd(dom):
  dom.begin("slOthers", slEmbed(dom.getValue("slInput")))
  dom.setValue("slInput", "")
  dom.focus("slInput")  
  

CALLBACKS = {
  "slSelect": lambda dom, id: dom.setValue("slOutput", dom.getValue(id)),
  "slAdd": acSlAdd,
  "slToggle": lambda dom, id: dom.disableElement("slOthers") if dom.getValue(id) == 'true' else dom.enableElement("slOthers"),
}      </pre>
    </fieldset>
  </details>
</fieldset>
<fieldset class="hidden" id="CKEditor">
  <legend class="widget">CKEditor</legend>
  <fieldset>
    <textarea id="ckInput"
      xdh:widget_="ckeditor|{entities: false, enterMode : CKEDITOR.ENTER_BR, linkShowTargetTab: false}|val\(\)|"></textarea>
    <button xdh:onevent="ckSubmit">Submit</button>
    <fieldset>
      <output id="ckOutput" style="all: initial;">
        <span>Type content in the editor and hit the <span style="font-weight: bold;">Submit</span> button</span>
      </output>
    </fieldset>
  </fieldset>
  <hr />
  <details>
    <summary>Source code</summary>
    <fieldset>
      <legend>HTML</legend>
      <pre class="lang-html"></pre>
    </fieldset>
    <fieldset>
      <legend>Python</legend>
      <pre class="lang-python">
CALLBACKS = {
  "ckSubmit": lambda dom, id: dom.setValue("ckOutput", dom.getValue("ckInput")),
}      </pre>
    </fieldset>
  </details>
</fieldset>